###> Symfony ###
APP_SECRET=dev
APP_ENV="dev" # Acceptable values: prod, dev
APP_DOMAIN=localhost
APP_SCHEMA=https
###</ Symfony ###

###> PHP FPM ###
PUID=1000
PGID=1000
###</ PHP FPM ###

###> Nginx ###
NGINX_PORT=80
###</ Nginx ###

###> Postgresql ###
DATABASE_URL="postgresql://%env(POSTGRES_USER)%:%env(POSTGRES_PASSWORD)%@db:%env(POSTGRES_PORT)%/%env(POSTGRES_DB)%?serverVersion=16&charset=utf8"
POSTGRES_DB=online-store
POSTGRES_USER=online-store
POSTGRES_PORT=5432
# Password must be changed in the production environment
POSTGRES_PASSWORD=online-store
###</ Postgresql ###
