.idea
.vscode

###> Docker ###
docker/logs
# A secret folder for sensitvie data (like passwords) that will be used in docker
docker/secrets
docker/.env
db-data
###< Docker ###

###> symfony/framework-bundle ###
.env
var/
vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
