.idea
.vscode

###> Docker ###
docker/logs
# A secret folder for sensitvie data (like passwords) that will be used in docker
docker/secrets
docker/.env
###< Docker ###

###> symfony/framework-bundle ###
.env
var/
vendor/
###< symfony/framework-bundle ###
